- if current_user && can?(current_user, :download_code, @project)
  = render 'shared/no_ssh'
  = render 'shared/no_password'

= render "home_panel"

- readme = @repository.readme
%ul.nav.nav-tabs
  %li.active
    = link_to '#tab-activity', 'data-toggle' => 'tab' do
      Activity
  - if readme
    %li
      = link_to '#tab-readme', 'data-toggle' => 'tab' do
        Readme
  .project-home-links
    - unless @project.empty_repo?
      = link_to pluralize(number_with_delimiter(@repository.commit_count), 'commit'), namespace_project_commits_path(@project.namespace, @project, @ref || @repository.root_ref)
      = link_to pluralize(number_with_delimiter(@repository.branch_names.count), 'branch'), namespace_project_branches_path(@project.namespace, @project)
      = link_to pluralize(number_with_delimiter(@repository.tag_names.count), 'tag'), namespace_project_tags_path(@project.namespace, @project)
      %span.light.prepend-left-20= repository_size

.tab-content
  .tab-pane.active#tab-activity
    .row
      = link_to '#aside', class: 'show-aside' do
        %i.fa.fa-angle-left
      %section.col-md-9
        = render "events/event_last_push", event: @last_push
        = render 'shared/event_filter'
        .content_list
        = spinner
      %aside.col-md-3.project-side
        .clearfix
          - if @project.archived?
            .alert.alert-warning
              %h4
                %i.fa.fa-exclamation-triangle
                Archived project!
              %p Repository is read-only

          - if @project.forked_from_project
            .well
              %i.fa.fa-code-fork.project-fork-icon
              Forked from:
              %br
              = link_to @project.forked_from_project.name_with_namespace, namespace_project_path(@project.namespace, @project.forked_from_project)

          - unless @project.empty_repo?
            - if version = @repository.version
              - detail_url = changelog_url(@project) || version_url(@project)
              = link_to detail_url, class: 'btn btn-block' do
                Version:
                %span.count
                  = @repository.blob_by_oid(version.id).data
            - elsif @repository.changelog
              = link_to changelog_url(@project), class: 'btn btn-block' do
                View changelog

            - if @repository.contribution_guide
              = link_to contribution_guide_url(@project), class: 'btn btn-block' do
                View contribution guide

            - if @repository.license
              = link_to license_url(@project), class: 'btn btn-block' do
                View license
            
            = link_to namespace_project_compare_index_path(@project.namespace, @project, from: @repository.root_ref, to: @ref || @repository.root_ref), class: 'btn btn-block' do
              Compare code

        .prepend-top-10
          %p
            %span.light Created on
            #{@project.created_at.stamp('Aug 22, 2013')}
          %p
            %span.light Owned by
            - if @project.group
              #{link_to @project.group.name, @project.group} group
            - else
              #{link_to @project.owner_name, @project.owner}

          - @project.ci_services.each do |ci_service|
            - if ci_service.active? && ci_service.respond_to?(:builds_path)
              - if ci_service.respond_to?(:status_img_path)
                = link_to ci_service.builds_path, :'data-no-turbolink' => 'data-no-turbolink' do
                  = image_tag ci_service.status_img_path, alt: "build status"
              - else
                %span.light CI provided by
                = link_to ci_service.title, ci_service.builds_path, :'data-no-turbolink' => 'data-no-turbolink'

  - if readme
    .tab-pane#tab-readme
      %article.readme-holder#README
        = link_to namespace_project_blob_path(@project.namespace, @project, tree_join(@repository.root_ref, readme.name)) do
          %h4.readme-file-title
            %i.fa.fa-file
            = readme.name
        .wiki
          = render_readme(readme)

